@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.eot');
    src: url('raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-bold-webfont.woff') format('woff'),
         url('raleway-bold-webfont.ttf') format('truetype'),
         url('raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-thin-webfont.eot');
    src: url('raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-thin-webfont.woff') format('woff'),
         url('raleway-thin-webfont.ttf') format('truetype'),
         url('raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway-semibold-webfont.eot');
    src: url('raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-semibold-webfont.woff') format('woff'),
         url('raleway-semibold-webfont.ttf') format('truetype'),
         url('raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* { margin: 0px; padding: 0px;}

body {
  background-color: #faedce;
  font-family: 'ralewayregular';
  color: #faedce;
}

h1, h2, h3 { font-family: 'ralewaythin'; }
h1 { color: #ea4b3a; }
h2 { color: rgb(8, 214, 187); }



#wrapper { width: 620px; margin: 0px auto; padding: 25px; }
#icon {
  background-color: rgb(8, 214, 187);
  background-image: url('../img/bookmarklet.png');
  border-radius: 75px;
  height: 115px;
  width: 115px;
  padding: 20px;
  text-align: center;
  margin: 0 auto 20px;
  display: block;
  text-indent: -9999em;
}

#drush-make {
  padding: 25px 75px;
  background-color: rgb(8, 214, 187);
  border-radius: 50px;
  margin-bottom: 50px;
}


#drush-form {
  padding: 50px;
  background-color: rgb(246, 111, 96);
  border-radius: 50px;

}
#drush-form h2 { color: #fdbb00; }






#bookmarklet { padding: 100px; text-align: center; }


